# Yolov5_StrongSORT_OSNet requirements
# Usage: pip install -r requirements.txt

# Base ----------------------------------------


# StrongSORT ------------------------------------------------------------------
easydict

# torchreid -------------------------------------------------------------------
gdown

# ByteTrack -------------------------------------------------------------------
lap
git+https://github.com/samson-wang/cython_bbox.git@9badb346a9222c98f828ba45c63fe3b7f2790ea2

# OCSORT ----------------------------------------------------------------------
filterpy
